{{define "heading"}}Deceptive site ahead{{end}}
{{define "message"}}Attackers on {{.Url.Host}} may trick you into doing something dangerous like installing software or revealing your personal information (for example, passwords, phone numbers, or credit cards).{{end}}
{{define "details"}}Clearedin recently detected phishing on {{.Url.Host}}. Phishing sites pretend to be other websites to trick you.{{end}}
